@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

:root {
  --second-family: "Barlow", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.twocontainer {
  width: 100%;
  max-width: 480px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #DBDEDF;
}

.header__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.header__link {
  border: 1px solid #DBDEDF;
  padding: 2px 8px;
  border-radius: 5px;
}
.header__link:hover {
  cursor: pointer;
}

.header__item {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.first {
  background-color: #f4f8fa;
  padding-bottom: 24px;
}

.first__block {
  border-radius: 10px;
  width: 496px;
  height: 849px;
  -webkit-box-shadow: 0 4px 56px 0 rgba(0, 0, 0, 0.04), 0 12px 16px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 56px 0 rgba(0, 0, 0, 0.04), 0 12px 16px 0 rgba(0, 0, 0, 0.04);
  background: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  margin-bottom: 64px;
}

.first__box {
  padding-top: 24px;
}

.first__content {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
}

.first__logn {
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  color: #01BAB3;
}
.first__logn:hover {
  cursor: pointer;
}

.first__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #444150;
}

.first__title {
  text-align: center;
  margin-top: 24px;
  font-weight: 700;
  font-size: 29px;
  color: #000000;
}

.first__input {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first__name {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #444150;
  text-align: start;
}

.first__gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.first__fullName {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 10px;
  outline: none;
}

.first__brith {
  margin-top: 14px;
}

.first__gen {
  margin-top: 24px;
}

.first__skyp {
  margin-top: 24px;
}

.first__date {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 10px;
  width: 416px;
  outline: none;
}

.first__male {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px 29% 14px 12px;
}
.first__male:hover {
  outline: darkturquoise;
  border: 2px solid #01BAB3;
}

.first__width {
  padding: 10px 12px 11px 9px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  width: 416px;
  outline: none;
}

.first__next {
  border-radius: 4px;
  width: 416px;
  height: 48px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #01bab3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d9d9d9;
  margin-top: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.first__next::after {
  content: " ";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url("../img/arrow.svg");
  background-position: right;
}
.first__next:hover {
  cursor: pointer;
}
.first__next:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.first__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
}

.second__block {
  border-radius: 5px;
  width: 566px;
  height: 981px;
  margin: 0 auto;
  text-align: center;
}

.second__box {
  margin-left: 20px;
  margin-right: 20px;
}

.second__logo {
  margin-top: 48px;
}

.second__titile {
  margin-top: 24px;
  font-weight: 700;
  font-size: 29px;
  color: #000000;
}

.second__content {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
}

.second__subTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #444150;
}

.second__logn {
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  color: #01bab3;
  text-decoration: underline;
}
.second__logn:hover {
  cursor: pointer;
}

.second__from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.second__acount {
  margin-bottom: 9px;
  text-align: start;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #444150;
}

.second__width {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  width: 414px;
  padding: 10px;
  outline: none;
  border: 1px solid #d9d9d9;
}

.second__count {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  width: 200px;
  padding: 10px;
}

.second__mail {
  margin-top: 24px;
}

.second__registr {
  border-radius: 4px;
  width: 416px;
  height: 48px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #01bab3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d9d9d9;
  margin-top: 87px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.second__registr:hover {
  cursor: pointer;
}
.second__registr:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.second__text {
  margin-top: 43px;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: #778699;
}

.second__words {
  color: #01bab3;
}

.third__box {
  margin: 0 auto;
  border-radius: 10px;
  width: 496px;
  height: 641px;
  -webkit-box-shadow: 0 4px 56px 0 rgba(0, 0, 0, 0.04), 0 12px 16px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 56px 0 rgba(0, 0, 0, 0.04), 0 12px 16px 0 rgba(0, 0, 0, 0.04);
  background: #ffffff;
  text-align: center;
  padding: 43px 41px;
}

.third {
  background-color: #f4f8fa;
}

.third__block {
  padding-top: 24px;
  padding-bottom: 20%;
}

.third__title {
  margin: 26px;
  font-weight: 700;
  font-size: 29px;
  color: #000000;
}

.third__content {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9px;
}

.third__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #444150;
}

.third__log {
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  color: #01bab3;
  text-decoration: underline;
}

.third__gmail {
  text-align: start;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #444150;
}

.third__width {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  width: 414px;
  height: 45px;
  outline: none;
  padding: 8px;
}

.third__mail {
  margin-top: 48px;
  margin-bottom: 30px;
}

.third__cuntinue {
  border-radius: 4px;
  width: 416px;
  height: 48px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #01bab3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d9d9d9;
  margin-top: 87px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.third__cuntinue::after {
  content: " ";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url("../img/arrow.svg");
  background-position: right;
}
.third__cuntinue:hover {
  cursor: pointer;
}
.third__cuntinue:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.third__text {
  margin-top: 36px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
}/*# sourceMappingURL=main.css.map */