.first{
    background-color: #f4f8fa;
    padding-bottom: 24px;
}


.first__block{
    border-radius: 10px;
    width: 496px;
    height: 849px;
    box-shadow: 0 4px 56px 0 rgba(0, 0, 0, 0.04), 0 12px 16px 0 rgba(0, 0, 0, 0.04);
    background: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    margin-bottom: 64px;
}

.first__box{
    padding-top: 24px;
}

.first__content{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.first__logn{
    text-decoration:underline;
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
    color: #01BAB3;

    &:hover{
        cursor: pointer;
    }
}

.first__subtitle{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #444150;
}

.first__title{
    text-align: center;
    margin-top: 24px;
    font-weight: 700;
    font-size: 29px;
    color: #000000;
}

.first__input{
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
}


.first__name{
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #444150;
    text-align: start;
}

.first__gender{
    display: flex;
    gap: 14px;
}

.first__fullName{
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 10px;
    outline: none;
}

.first__brith{
    margin-top: 14px;
}

.first__gen{
    margin-top: 24px;
}

.first__skyp{
    margin-top: 24px;
}

.first__date{
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding:  10px;
    width: 416px;
    outline: none;
}

.first__male{
    display: flex;
    gap: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 10px 29% 14px 12px;
    
    &:hover{
        outline: darkturquoise;
        border: 2px solid #01BAB3;
    }
}

.first__width{
    padding: 10px 12px 11px 9px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    width: 416px;
    outline: none;
}

.first__next{
    border-radius: 4px;
    width: 416px;
    height: 48px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    background-color: #01bab3;
    align-items: center;
    border:1px solid #d9d9d9;
    margin-top: 24px;
    transition: .25s;

    &::after{
        content: " ";
        display: inline-block;
        margin-left: 10px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-image: url('../img/arrow.svg');
        background-position: right;
    }

    &:hover{
        cursor: pointer;
    }
    &:active{
        transform: scale(.95);
    }
}

.first__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
}